doctype html
html
  head
    title Recipe Page
  body
    h1 #{recipe.name}
    h2 Ingredients
    ul
      each ingredients in recipe.ingredients
        li= ingredients 
    h2 Instructions
    ul
      each instructions  in recipe.instructions 
        li= instructions 